name: Close issues

on:
  schedule:
    - cron: "0 0 * * *"


permissions:
  issues: write

jobs:
  close-issues:
    if: github.repository == 'biomejs/biome-zed'
    runs-on: depot-ubuntu-24.04-arm-small
    steps:
      - name: Close issue without reproduction
        uses: actions-cool/issues-helper@e2ff99831a4f13625d35064e2b3dfe65c07a0396 # v3.7.5
        with:
          actions: "close-issues"
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: "needs reproduction"
          inactive-day: 3
