name: Close issues

on:
  schedule:
    - cron: "0 0 * * *"


permissions:
  issues: write

jobs:
  close-issues:
    if: github.repository == 'biomejs/biome-zed'
    runs-on: depot-ubuntu-24.04-arm-small
    steps:
      - name: Close issue without reproduction
        uses: actions-cool/issues-helper@3809910bc12872edc9b8132f122069ac16cd16ee # v3.7.3
        with:
          actions: "close-issues"
          token: ${{ secrets.GITHUB_TOKEN }}
          labels: "needs reproduction"
          inactive-day: 3
